$primary-color: #c1d5e5;

// main excuse
  .headerbuttons{
    background-color: $primary-color;
    margin: 30px
  }

  .header {
    text-align: center;
    margin-top: 30%
  }

  @media (max-height: 400px) {
    .header {
      margin-top: 10%
    }
  }

  #excuse-text  {
    min-height: 80px
  }

// top excuses 
#top-excuse-buttons {
  background: $primary-color
}

#top-excuse-head {
  border-top: 2px solid #eee;
  border-bottom: 2px solid #eee;
  margin-left: 20%;
  margin-right: 20%;
  position: center
}

#top-excuse-ul {
  list-style: none;
  padding: 50px
}

#top-excuse-li {
  padding: 5px
}

#top-excuse {
  text-align: center
}

#main-page-space {
  width: 100%;
  height: 400px
}

#bottom-page-space {
  width: 100%;
  height: 200px
}
