<!DOCTYPE html>
<html lang="en">
<head>


  <!-- Basic Page Needs
  –––––––––––––––––––––––––––––––––––––––––––––––––– -->
  <meta charset="utf-8">
  <title>Excuses Generator</title>
  <meta name="description" content="">
  <meta name="author" content="">

  <!-- Mobile Specific Metas
  –––––––––––––––––––––––––––––––––––––––––––––––––– -->
  <meta name="viewport" content="width=device-width, initial-scale=1">

  <!-- FONT
  –––––––––––––––––––––––––––––––––––––––––––––––––– -->
  <link href="//fonts.googleapis.com/css?family=Raleway:400,300,600" rel="stylesheet" type="text/css">

  <!-- CSS
  –––––––––––––––––––––––––––––––––––––––––––––––––– -->
  <link rel="stylesheet" href="/stylesheets/normalize.css">
  <link rel="stylesheet" href="/stylesheets/skeleton.css">
  <link rel="stylesheet" href="/stylesheets/application.css">

  <!--  JS???
  -------------------------------------------------- -->
  <script src="//ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>
  <script src="/javascript/application.js"></script>


  <!-- for texillate
  -------------------------------------------------- -->
  <link rel="stylesheet" href="/stylesheets/animate.min.css">
  <script type="text/javascript" src="jquery-1.11.3.js"></script>
  <script src="jquery.lettering.js"></script>
  <script src="jquery.textillate.js"></script>
  <script src="excuse_text.js"></script>



</head>

<body>

<%= yield %>

 
<!-- <p id="footer">Contact Us</p> -->
  <!-- End Document
  ------------------------------ -->
</body>
</html>
