<div id="top-excuse-head">
  <p><h4>Top Excuses</h4></p>
</div>

<div id="top-excuse">
  <div id="top-excuse-list">
    <ul id="top-excuse-ul">
    <% @top5_excuses.each do |excuse| %>
      <li id="top-excuse-li"><h4><%= excuse.beginnings_id %> because <%= excuse.middles_id %> so <%= excuse.finals_id %></h4></li>
    <% end %>

     </ul>
  </div>
</div>

